/* place the sidebar to the left */
.sidebar{
  float:left;
  background-color: #F7F7F7;
  margin-right: 20px;
}

.sidebar a{
  display: block;
  padding-left: 80px;
  padding-right: 80px;
  margin-top:40px;
  text-decoration: none;
  color:#F77731;
  font-size: 24px;
  font-weight: 700;
  
}
.sidebar a:last-child{
  margin-bottom: 80px;
}