/* place the sidebar to the left */
.sidebar{
  float:left;
  background-color: #F7F7F7;
  margin-right: 20px;
}

.sidebar a{
  display: block;
  padding-left: 80px;
  padding-right: 80px;
  margin-top:40px;
  text-decoration: none;
  color:#F77731;
  font-size: 24px;
  font-weight: 700;
  
}
.sidebar a:last-child{
  margin-bottom: 80px;
}

/* add rounded corner chat bubble */

#content_description{
  background-color: blue;
  height:100px;
  width:300px;
  border-top:15px solid transparent;
  border-right:15px solid transparent;
  border-left:20px solid #fff;
  border-top-right-radius:10px ;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30px;
  /* border-bottom:7px solid #fff; */
}

/* reply bubble */
#content_Advice{
  background-color: blue;
  height:100px;
  width:300px;
  border-top:15px solid transparent;
  border-left:20px solid transparent;
  border-right:15px solid #fff;
  border-top-right-radius:10px ;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30px;
  /* border-bottom:7px solid #fff; */
  transform: translate(80%,0%);


}