/* CSS FOR CATEGORIES SECTION ADDED BY SAM */
.booking {
    display: flex;
    background-color: #F7F7F7;
    height: fit-content;
    padding: 10px;
    
}
.personal-struggles {
    float: left;
    width: 100%;
    margin-left: 300px;
    padding-right: 00px;
}
.situations {
    float: right;
    width: 100%;
}


.booking {
    padding-left: 100px;
}

.booking-item {
    
    background-color: white;
    padding: 5px;
}

.booking-item-row {
    position: relative;
    justify-content: space-between;
    margin-bottom: 10px;
}

.booking-one {
    
    width: 350px;
    height: 400px;
    background-color: #518819;
    border-radius: 50px 50px 50px 50px;
}
.booking-one h4 {
    font-weight: 5rem;
    margin-top: 20px;
    padding: 10px;
    margin-left: 80px;
    color: #F29F05;
}
.booking-one p {
    margin-top: 0px;
    padding: 00px;
    
    
}

.booking-descr {
    position: relative;
    justify-content: space-between;
}

.booking-descr img {
    margin-left: 0px;
    width: 350px;
    height: auto;
    border-radius: 15px 15px 15px 15px;
}
.booking-descr p {
    font-size: 1.15rem;
    text-align: center;
}
#init-btn {
    background-color: #F29F05;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    margin-left: 95px;
    margin-bottom: 15px;
}
/* END OF CSS FOR CATEGORIES SECTION  */
