.input{
    background: color #f7f7f7;;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin:15%;
    height: 100%;
    width:70%;
}
form{
    justify-content: center;
    background-color: grey;
    height: 100%;
    width: 80%;
    border-radius: 50px;
    padding: 20px;
}
